*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    background-image: url("img/290232-cidade_invisivel.jpg");
    background-size: cover;
    background-position: right top;
    display: flex;
    flex-direction: column;
    font-family: 'Karla', sans-serif;
    color: white;
}


header{
    background-color: black;
    height:70px;
    display: flex;
    justify-content: space-between;
    padding: 0 10vw;
    align-items: center;
    color: transparent;
}
.logo img{
    width: 120px;
}
.links ul{
    background-color: black;
    gap: 20px;
    display: flex;
    list-style-type: none;
}

.links a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    user-select: none;
    transition: all 1s;
}
.links a:hover{
    color:red;
}
main{
    padding: 20vh 10vw;
    flex-grow: 1;
}
main h2{
    font-size: 30px; 
}
main h1 {
    font-size: 70px;
}
main p{
    font-size: 25px;
    font-weight: 200;
    max-width: 800px;
}
main a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    text-decoration: none;
    color: white;
    font: 20px;
    margin-top: 30px;
    border-radius: 2px;
    transition: all .5s;

}
main a:hover{
    border: solid 1px goldenrod;
    background-color: black;
}
footer{

   /* background-color: turquoise;*/
    height: 40px;
}
.butterfly{
    position: absolute;
    width: 60px;
    top: 90vh;
    left: 90vw;
    filter: brightness(10%);
    animation: voar 20s linear infinite;
}
@keyframes voar {
    0%{
        transform: translate(0,0);
    }
    100% {
        transform:translate(-90vw, -90vh);
    }

}